# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: 与廖耀湘相关的文字资料合集
email: lyxmemo@gmail.com
description: Memorial for General Liao Yaoxiang
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://lyxmemo.github.io" # the base hostname & protocol for your site, e.g. http://example.com
# twitter_username: N/A
github_username:  lyxmemo

# Social media links - update or remove as needed
social:
  name: Jianchu Bot
  links:
    - name: Xiaohongshu
      url: https://www.xiaohongshu.com/user/profile/6231a4a00000000021027a7e # Placeholder URL, please update
    - name: GitHub
      url: https://github.com/lyxmemo

collections:
  posts:
    output: true
  liaos_tele:
    output: true
    display_name: 来往电报（点击展开或折叠）
  liaos_writings:
    output: true
    display_name: 文集
  newspapers:
    output: true
    display_name: 报刊杂志
  n6a_memorial:
    output: true
    display_name: 新六军纪念
  n22d_memorial:
    output: true
    display_name: 新二十二师纪念
  ten_year_memorial:
    output: true
    display_name: 故人回忆
  battles_history:
    output: true
    display_name: 战史

# Build settings
# theme: jekyll-theme-chirpy
remote_theme: pages-themes/minimal@v0.2.0
plugins:
  - jekyll-remote-theme
  - jekyll-feed
  - jekyll-archives
  - jekyll-sitemap

# Archives
jekyll-archives:
  enabled:
    - categories
  layout: category
  permalinks:
    category: '/categories/:name/'

# Sitemap configuration
jekyll-sitemap:
  use_git: true
    
# Pagination
paginate: 10
paginate_path: /page:num/

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

exclude:
  - assets/404.html
  - assets/feed.xml
